jupyterlab
jupyterlab-system-monitor
jupyterlab-git

wget
pandas
openpyxl
xlsxwriter

gdown

matplotlib
seaborn

scikit-learn

torch
tensorflow-gpu
datasets
transformers
tensorflow
nltk
fuzzywuzzy
python-Levenshtein
streamlit==1.2.0